@charset "utf-8";

/* 화면이 768px 이하일 때  일단 보류*/
@media (max-width: 768px) {

    .cards {
        flex-direction: column; /* 카드들을 세로로 나열 */
        gap: 10px;
    }
}



*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body{
    height: 100%;
}

.card-body{
padding-bottom: 10px;
}

header{
    display: flex;
    align-items: center;      /* 세로 가운데 정렬 */
    justify-content: space-between;
    height: 80px;
    padding: 0 20px;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.2); 
}

button{
    all: unset;
}

.logo, .mainMenu {
    display: flex;
    align-items: center;
}

/* 로고 옆에 메뉴 붙이기 */
.leftGroup {
    display: flex;
    align-items: center;
}

.mainMenu a {
    margin-left: 90px;  /* 로고와 간격 */
    text-decoration: none;
    color: black;
    /* font-weight: 500; */
}

.mainMenu a:hover{
    color: rgb(165, 221, 132);
}

.header_right{
    display: flex;
    margin-right: 50px;
}

.join,.login{
    margin-right: 10px;
    display: flex;
    width: 100px;
    height: 40px;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 0.7em;
}

.join{
    background-color: rgb(165, 221, 132);
    color: white;
    border: 2px solid rgb(165, 221, 132);
}

.join:hover{
    border: 2px solid rgb(135, 206, 235);
    background-color: white;
    color: rgb(135, 206, 235);
    transition: all 0.4s ease;
}

.login{
    border: 2px solid rgb(165, 221, 132);
    color: rgb(165, 221, 132);
    /* border-color: lightpink; */
}

.login:hover{
    background-color: rgb(135, 206, 235);
    color: white;
    transition: all 0.4s ease;
    border: 2px solid rgb(135, 206, 235);
}