.body {
    width: auto;
    height: auto;
}

.main_title {
    display: flex;
    width: 100%;
}

.backIcon {
    margin-top: 70px;
    margin-left: 300px;
    width: 40px;
    height: 40px;
    left: 200px;
    cursor: pointer;
}

.title {
    margin-left: 30%;
    margin-top: 4%;
    font-size: 40px;
}

.body_content {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    margin-top: 70px;
    font-size: 25px;
}

.Allclick {
    margin-left: 19%;
}

.clickdelete {
    margin-left: 50%;
    margin-top: 5px;
}

.Alldelete {
    margin-top: 5px;
}

input[type='checkbox'] {
    position: relative;
    width: 30px; /*Desired width*/

    height: 30px; /*Desired height*/
    top: 5px;
    cursor: pointer;
}

.line {
    display: inline-block;
    align-items: center;
    justify-content: center;
    width: 1350px;
    border-bottom: 1px solid #000000;
    margin-left: 19%;
    margin-top: 15px;
}

.produces_image {
    width: 160px;
    height: 160px;
}

.products {
    margin-left: 20%;
    margin-top: 20px;
    display: flex;
}
